.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 36px;
    padding: 0px 8px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'IBM Plex Sans';
    background-color: transparent;
    border: solid 1px transparent;
    user-select: none;
    cursor: pointer;
    +.wrapper {
        margin-left: 16px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon+.content,
.content+.icon {
    margin-left: 8px;
}

// Button types
.rounded {
    border-radius: 99px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    color: var(--whiteColor);
    &:hover {
        border-color: var(--primaryColor);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primaryColor);
    border-color: var(--primaryColor);
    &:hover {
        border-color: var(--primaryColor);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

// Button Sizes
.small {
    min-width: 88px;
    padding: 3px 8px;
}

.large {
    font-size: 18px;
    min-width: 168px;
    padding: 11.5px 8px;
}