.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
        margin-top: var(--default-layout-header-height);
        width: var(--default-layout-width);
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        .content {
            width: 692px;
            max-width: 692px;
            padding: 24px 0;
            margin-right: 16px;
            .bottom {
                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                right: 24px;
                bottom: -40px;
                margin-bottom: 8px;
                transition: bottom ease 0.3s;
                z-index: 10;
                &-btn {
                    margin-bottom: 12px;
                    height: 32px;
                    color: rgba(22, 24, 35, 0.75);
                    font-size: 1.4rem;
                }
                &-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: var(--primaryColor);
                    cursor: pointer;
                    &:hover {
                        background-color: #ef2a50;
                    }
                }
                &.active {
                    bottom: 0;
                }
            }
        }
    }
}

/* Tablet & moblie */

@media (max-width: 1023px) {
    .wrapper {
        .container {
            .content {
                width: 592px;
                max-width: 592px;
            }
        }
    }
}

@media (max-width: 739px) {
    .wrapper {
        .container {
            .content {
                width: 492px;
                max-width: 492px;
            }
        }
    }
}
@media (max-width: 600px) {
    .wrapper {
        .container {
            .content {
                width: 392px;
                max-width: 392px;
            }
        }
    }
}
